$brandColor: #dd1a00;
$backgroundColorForm: #000000d7;
$letterColorWhite: white;
$transparent: transparent;
$letterFormColor: #aaa;
$borderColor: #ccc;
$inputBackgroundColor: rgba(17, 17, 17, 0.82);
$inputBorderColor: #474747;
$boxShadowColor: rgba(0, 0, 0, 0.925);
$GoodRatingsColor: rgb(90, 226, 66);
$BadRatingsColor: rgb(254, 57, 57);
$AverageRatingsColor: rgb(248, 255, 53);
