$brandColor: #dd1a00;
$backgroundColorForm: #000000d7;
$letterColorWhite: white;
$transparent: transparent;
$letterFormColor: #aaa;
$borderColor: #ccc;
$inputBackgroundColor: rgba(17, 17, 17, 0.82);
$inputBorderColor: #474747;
$backgroundInsertMovies: #161616;
$boxShadowColor: rgba(0, 0, 0, 0.925);

$inputPadding: 10px; 
$inputFontSize: 16px; 
$inputBorderRadius: 5px; 
