@import 'mixins';
@import 'variables';

form {
    margin-top: 30px;
    max-width: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; 
    .modal-actions{
    button{
        width: 48% ;
    }
    #insertButton{
        @include button($brandColor);
        border-radius: 50px;
    }
  }
}

.card {
    @include fixed-card;
    .cancel{
        display: none;
    }
    form{
        display: block;
    }
    .inputContainer{
        margin-bottom: 10px;
        input{
            margin: 0;
            @include input;
        }
    }
    .insertButton{
        @include button($brandColor);
    }
    h1{
        color: $brandColor;
        text-align: center;
        @include letter-title;
    }
    &.showw {
        transform: translateX(0%);
    }

    .corbag {
        @include flex-row-space-around;
    }

    .content {
        text-align: center;
    }

    .price {
        font-weight: 700;
        margin: 0;
    }

    .bagtamanho {
        color: $letterFormColor;
        margin: 0;
        font-weight: 700;
    }

    .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        color: $brandColor;
    }
    #card-content{
        margin: 30px 0px;
    }


    @media screen and (max-width: 675px) {
        width: 80%;
    }
}

#card-content {
    max-height: 80%;
}
