@import "variables";
@import "mixins";

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.banner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s;

  &.fade-out {
    animation: fadeOut 1s;
  }

  .Bannerimg {
    width: 100%;
    height: 500px;
    overflow: hidden;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }
  .Logo {
    width: 250px;
    height: 40px; 
    margin-bottom: 20px;
  }
  .textBanner {
    position: absolute;
    padding: 60px 40px;
    max-width: 40%;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.6) 88%,
      transparent 100%
    );
    border-radius: 9px;
    height: 100%;

    h1 {
      color: $letterColorWhite;
      font-size: 45px;
      margin: 0 0 10px 0;
    }

    p {
      color: $letterFormColor;
      font-size: 20px;
      line-height: 1.5;
      margin: 10px 0;
    }

    .Rating {
      &.good {
        color: $GoodRatingsColor;
      }

      &.average {
        color: $AverageRatingsColor;
      }

      &.bad {
        color: $BadRatingsColor;
      }
    }
  }
}
